version: '3.9'

services:
  postgres:
    image: postgres:15
    container_name: postgres_db
    restart: "no"
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: admin123
      POSTGRES_DB: springdb
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
      - ./init.sql:/docker-entrypoint-initdb.d/init.sql

  adminer:
    image: adminer:latest
    container_name: adminer
    restart: "no"
    ports:
      - "8081:8080"
    depends_on:
      - postgres

volumes:
  postgres_data:
